
     
/* Your CSS Code here. */
.holder{
    background-color: rgb(43, 28, 6) ;
    border: 1px solid rgb(23, 177, 154);
    width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
 }
 .first{
     background-color:red ;
     width: 300px;
     height:40px;
 }
     .second{
         background-color: blue;
         width: 300px;
         height: 40px;
     }
     .third{
     background-color:green;
     width: 300px;
     height: 40px;
 }
 
